<header>
	<nav class="navbar">
		<button class="hamburger" onclick="toggleMenu()">
			&#9776; <!-- Unicode for hamburger -->
		</button>
		<div class="logo">
			<a href="/">AniMark</a>
		</div>
		<button class="search-toggle" onclick="toggleSearch()">
			<svg class="svg-icon" viewBox="0 0 20 20">
				<path fill="none" d="M19.129,18.164l-4.518-4.52c1.152-1.373,1.852-3.143,1.852-5.077c0-4.361-3.535-7.896-7.896-7.896
								c-4.361,0-7.896,3.535-7.896,7.896s3.535,7.896,7.896,7.896c1.934,0,3.705-0.698,5.078-1.853l4.52,4.519
								c0.266,0.268,0.699,0.268,0.965,0C19.396,18.863,19.396,18.431,19.129,18.164z M8.567,15.028c-3.568,0-6.461-2.893-6.461-6.461
								s2.893-6.461,6.461-6.461c3.568,0,6.46,2.893,6.46,6.461S12.135,15.028,8.567,15.028z"></path>
			</svg>
		</button>
		<div class="search-box" id="searchBox">
			<form action="/search" method="get">
				<input type="text" id="search-bar" autocomplete="off" name="query" placeholder="Search Anime...">
				<button id="search-btn" type="submit">Search</button>
			</form>
		</div>

		<div class="nav-items">
			<a href="/">Home</a>
			<!-- Correct way to use buttons for navigation -->
			<button class="nav-btn" type="button" onclick="handleNavigation(event, '/api/user/watchlist')">Watchlist</button>
			<button class="nav-btn" type="button" onclick="handleNavigation(event, '/api/user/markedAnime')">Marked</button>
			<button class="nav-btn" type="button" onclick="handleNavigation(event, '/api/user/ongoingAnime')">Ongoing</button>


		</div>

		<div class="profile nav-item">
			<a type="button" onclick="handleNavigation(event, '/profile')" class="dropbtn">
				<div class="nav-pro-img" style="background-image: url('<%= dbProfileImage %>');"></div>
			</a>
		</div>

		<!--<button onclick="openLoginModal()">Login</button>-->
		<% if (isAuthenticated) { %>
			<!--<form action="/api/auth/logout" method="POST" style="display: inline;">
				<button  type="submit" class="button">


					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
					</svg>


					<div class="text">
						logout
					</div>

				</button>

			</form>-->
			<% } else { %>
				<!--<button onclick="openLoginModal()">Login</button>-->
				<button onclick="openLoginModal()" class="button">


					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
					</svg>


					<div class="text">
						Login
					</div>

				</button>

				<% } %>

	</nav>
	<div class="pop-up">
		<div class="message">
			<p class="msg-title no-m-y">Message</p>
			<p class="msg-info no-m-y">Here is the bigger info!</p>
		</div>
	</div>

	<div class="loginPopup">
		<!-- Login -->
		<div class="loginHere">
			<span class="closeBtn" onclick="closeLoginModal()">×</span>
			<h1>Login</h1>
			<form id="loginForm">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required>
				<button type="submit">Login</button>
			</form>
			<p>Don't have an account? <button onclick="toggleForm('register')">Register</button></p>
			<p><a href="/forgot-password">Forgot Password?</a></p>
		</div>

		<!-- Register -->
		<div class="registerHere" style="display: none;">
			<span class="closeBtn" onclick="closeLoginModal()">×</span>
			<h1>Register</h1>
			<form action="/api/auth/register" method="post">
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" required>
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required>
				<button type="submit">Register</button>
			</form>
			<p>Already have an account? <button onclick="toggleForm('login')">Login</button></p>
		</div>
	</div>

</header>

<script src="/js/login.js"></script>
<script src="/js/popup.js"></script>